####
# build folders
obj/
DerivedData/
build/
Builds/
*.app
*.mlp

###
# xcode garbage
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

####
# misc.
.DS_Store
.*.swp
.*.swo
*.bkp
.ycm_extra_conf.py

###
# large files
*.ply
